# TODO: Fill the following mandatory environment variables
# TODO: Rename the file from 'env-template' into '.env'
# TODO: Save the '.env' at the root of the project

# App specific
DEPLOY_DIR=""
MATCH_PASSWORD=""

# Distribution
APPLE_DEV_PORTAL_USERNAME=""                        # Your personal Apple Id
FASTLANE_ITC_TEAM_NAME=""
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=""     # Follow: https://support.apple.com/en-us/HT204397

# Github
GITHUB_TOKEN=""
BITRISE_APP_SLUG=""
BITRISE_API_TOKEN=""
UPDRAFT_API_TOKEN="" # API KEY

# DYNATRACE
DYNATRACE_APP_ID_DEV="" # Can be found in the keypass
DYNATRACE_API_TOKEN_DEV="" # API TOKEN, can be found in the keypass
DYNATRACE_BEACON_URL_DEV="" # MANDATORY for the Dynatrace library, can be found in the keypass
DYNATRACE_SERVER_URL_DEV="" # Can be found in secured keypass

DYNATRACE_APP_ID_REF="" # Can be found in the keypass
DYNATRACE_API_TOKEN_REF="" # API TOKEN, can be found in the keypass
DYNATRACE_BEACON_URL_REF="" # MANDATORY for the Dynatrace library, can be found in the keypass
DYNATRACE_SERVER_URL_REF="" # Can be found in secured keypass

DYNATRACE_APP_ID_PROD="" # Can be found in the keypass
DYNATRACE_API_TOKEN_PROD="" # API TOKEN, can be found in the keypass
DYNATRACE_BEACON_URL_PROD="" # MANDATORY for the Dynatrace library, can be found in the keypass
DYNATRACE_SERVER_URL_PROD="" # Can be found in secured keypass